* {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  body{
    overflow: hidden;
  }
 .navbar{
    background: #1e1f26;
    height: 65px;
    /* padding-left:100px; */
    padding-bottom: 10px;
  }
  ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 100%;
    /* position:absolute; */
  }
  li{
    display: inline-block;
    padding: 20px 30px;
  }
  .logo{
    padding-left: 575px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }
  .page{
    display: float;
    float: right;
    padding-left: 50px;
  }

 a{
    text-decoration: none;
    padding: 0;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 150px; */
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
  }
  .content{
    width: 100%;
    background-image: url(/river-hill-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height:100vh;
    position: absolute;
  }
  #body{
    background-color: black;
    opacity: 0.9;
  }
  #body .leaderboard {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    
  }
  
  #body .leaderboard .title {
    color: #A3A3A3;
    font-family: audiowide-regular-webfont;
    font-size: 34px;
    line-height: 40px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
  }
  
  #body .leaderboard .table {
    color: #A3A3A3;
    font-size: 20px;
    padding: 0;
    margin: auto;
    margin-bottom: 70px;
    text-transform: uppercase;
  }
  
  #body .leaderboard .table th {
    font-size: 30px;
    text-align: left;
    font-family: audiowide-regular-webfont;
    padding: 30px;
  }
  
  #body .leaderboard .table td{
    padding: 10px 30px 10px;
  }
  
  #body .leaderboard .table td:nth-child(1){
    min-width: 400px;
  }
  
  #body .leaderboard .table td:nth-child(2){
    text-align: center;
    min-width: 100px;
    max-width: 100px;
  }
  
  table, td, th {
    border: 2px solid white;
    border-collapse: collapse;
  }
  .bird{
    position:absolute;
    top: 1%;
    right: 1%;
    scale: 50%;
    animation: MoveUpDown 2s linear infinite;
  }
  .bird2{
    position:absolute;
    top: -34%;
    left: 33%;
    scale: 45%;
    animation: MoveUpDown 2s linear infinite;
  } .bird3{
    position:absolute;
    top: -33%;
    left: -20%;
    scale:50%;
    
    animation: MoveUpDown 2s linear infinite;
  } .bird4{
    position:absolute;
    top: 0.1%;
    left: 30%;
    scale: 50%;
    animation: MoveUpDown 2s linear infinite;
  }

 .boat{
  position:relative;
  bottom: 100px;
  left:-20%;
  scale: 50%;
  animation: Bouyancy 4s linear infinite;
}

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-60px);
    }
  }

  @keyframes Bouyancy {
    0%, 100% {
      transform: rotate(-0.5deg);
    }
    50% {
      transform: rotate(0.5deg);
    }
  }
  .maze {
    border: 20px #111411 solid;
    background-image: url("/maze.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
}

.charctr {
    position:absolute;
    top: 42%;
    left: 60%;
    scale: 15%;
    animation: Breathe 4s linear infinite;
}

@keyframes Breathe {
    0%, 100% {
      transform: rotate(-0.5deg);
    }
    50% {
      transform: rotate(0.5deg);
    }
  }

